<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập hệ thống</title>
    
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
</head>
<body>

    <form action="/submit" method="POST">
        <h2 style="margin-top: 0; margin-bottom: 20px; color: #1877f2;">Welcome</h2>
        
        <h3>Username</h3>
        <input type='text' name='nm' placeholder="Nhập tên đăng nhập..." required/>
        
        <h3>Password</h3>
        <input type='password' name='pwd' placeholder="Nhập mật khẩu..." required/>
        
        <input type='submit' value='Login'/>

        <div style="margin-top: 15px; text-align: center;">
            <span>Chưa có tài khoản? </span>
            <a href="/register" style="color: #1877f2; text-decoration: none; font-weight: bold;">
                Đăng ký ngay
            </a>
        </div>
        </form>

</body>
</html>